@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  color: #fff;
}
.inner-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main-wrapper{
  background-color: #000;
  height: 100vh;
  width: 100%;

}
h3 {
  font-size: 40px;
}

.main-wrapper-inner {
  text-align: center;
}

.main-wrapper input {
  padding: 10px;
  padding: 10px 30px;
}

.main-wrapper {
  padding: 0 20px;
  width: auto;
}

.main-wrapper {
  text-align: center;
}