/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
body{
  margin: 0;
  color: #fff;
}
.inner-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.main-wrapper{
  background-color: #000;
  height: 100vh;
  width: 100%;

}
h3 {
  font-size: 40px;
}

.main-wrapper-inner {
  text-align: center;
}

.main-wrapper input {
  padding: 10px;
  padding: 10px 30px;
}

.main-wrapper {
  padding: 0 20px;
  width: auto;
}

.main-wrapper {
  text-align: center;
}